/*CSS Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*body*/
body {
    background-color: white;
    font-family: Roboto, Sans-serif, Fantasy;
}

/*header*/
.header {
    height: 100px;
    background: white;
    padding: 0 20px;
    position: fixed;
    display: block;
    z-index: 300;
    width: 100%;
    top: 0;
}

.logo {
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}

.menu {
    float: right;
    line-height: 100px;
    background-color: white;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.content {
    padding: 0 20px;
}

.content img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}

.content p {
    text-align: justify;
}

.header {
    height: 100px;
    background: white;
    padding: 0 20px;
}

.logo {
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}

.menu {
    float: right;
    line-height: 100px;
}

.menu a {
    text-transform: uppercase;
    background: linear-gradient(to right, #3399ff 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.menu a:hover {
    text-transform: uppercase;
    background: linear-gradient(to right, #990000 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.content {
    padding: 0 20px;
}

.content img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}

.content p {
    text-align: justify;
}

/*background home js*/
#canvas {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1a1724;
}

.canvas-wrap {
    position: relative;

}

div.canvas-content {
    position: relative;
    z-index: 200;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.canvaTitle {
    margin-top: 6%;
    font-size: 90px;
    padding: 3%;
}

/*services section*/
.services {
    padding-top: 200px;
}

.sectionText {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.sectionTitle {
    font-size: 70px;
    margin-top: 1.5em;
    color: #4d0000;
    text-align: center;
}

.normalTitle {
    font-size: 70px;
    text-align: center;
    margin-top: 2%;
    color: #4d0000;

}

.topTitle {
    margin-top: 4%;
}

.gradianText {
    text-transform: uppercase;
    background: linear-gradient(to right, #ffffff 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
}

hr {
    width: 11%;
    background-color: #006bb3;
    line-height: 10px;
    height: 2px;
    ;
}

.contentServices {
    width: 100%;
    display: flex;
}

.servicesList {
    width: 60%;
}

.servicesImg {
    width: 40%;
    margin-top:5%;
   text-align: center;
}

.servicesImg img {
    margin: 0 auto;
}

.list ul {
    width: 70%;
    margin: 0 auto;
}

.list li {
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
    background-color: #d9d9d9;
}

.listInline {
    display: inline-block;
    font-size: 30px;
    margin: 2%;
}

.titleInline {
    display: inline-block;
    font-size: 30px;
}

.listP {
    margin: 2%;
}

.red {
    color: #4d0000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.blue {
    color: #004d80;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.red:hover {
    color: #004d80;
}

.blue:hover {
    color: #4d0000;
}

/*skills section*/
.aboutSection,
.connectSection,
.contactSection,
.SubSection {
    margin-top: 2%;
}

.parallax {
    background-image: url('../medias/back.jpg');
    height: auto;
    padding: 1em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skillsPourcent {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.skillsPourcent li {
    display: inline-block;
    width: 20%;
}

.skillsPourcent img {
    width: 90%;
}

h6 {
    text-align: center;
    font-size: 25px;
    margin: 2%;
    font-style: italic;
}

.quote p {
    display: flex;
    justify-content: center;
}

/*portfolio section*/
.portfolioImg {
    width: 70%;
    margin: 5%;
    clip-path: polygon(20% 0%, 0% 0%, 0% 50%, 0% 80%, 0% 100%, 50% 100%, 80% 100%, 100% 100%, 100% 50%, 100% 0, 80% 0, 50% 0);
    transition: clip-path 0.5s;
}

.portfolioImg:hover {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.portfolioAllImg {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 2%;
}

h4 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 5%;
    color: #004d80;
}

.button1 {
    background-color: #004d80;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.1em;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.button1:hover {
    color: white;
    background-color: #000000;
    text-decoration: none;
}

/*contact section*/
.socialMedia {
    display: flex;
    justify-content: center;
}

.flation {
    margin: 1%;
}

.license {
    display: flex;
    justify-content: center;
    font-size: 9px;
}

.medias {
    background-color: #e6e6e6;
}

.flation img {
    width: 80%;
}

/*contact page*/
.contactForm {
    margin: 5%;
}

.divButton {
    display: flex;
    justify-content: center;
    color: white;
}

.contactData {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.dataInfo {
    font-size: 20px;
    text-align: center;
}

/*connect page*/
.connectDiv {
    margin: 3%;
}

.buttonConnect {
    margin: 2%;
}

/*subcription page*/
.formSub {
    margin: 3%;
}

.subDescription {
    text-align: center;
    margin: 2%;
    font-size: 20px;
}

/*about page*/
.aboutContainer {
    display: flex;
    margin: 2%;
}

.storyJohn {
    flex: 7;
    text-align: center;
    margin: auto;
}

.storyJohn p {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
}

.profil {
    flex: 3;
    margin: auto;
}

.johnButton {
    flex: 2;
    margin: auto;
}

.johnButton a {
    display: block;
    margin: 1em auto;
}

h5 {
    margin: 2%;
    font-size: 30px;
}

.pictureProfil {
    clip-path: circle(50% at 50% 50%);
    width: 80%;
}

/*opinion section*/
.opinion {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #e6e6e6;
    border-radius: 10px;
    transition: 0.4s ease-out;

}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.3s ease-out;
}

.card:hover~.card {
    left: 50px;
    transition: 0.3s ease-out;
}

.titleOpinion {
    color: #004d80;
    font-size: 25px;
    margin: 10%;
}

.textOpinion {
    margin-top: 40px;
}

.textOpinion p {
    display: flex;
    justify-content: center;
    margin: 3%;
    text-align: center;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.emptybar {
    background-color: rgba(0, 0, 0);
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, rgba(0, 138, 230, 1) 0%, rgba(0, 107, 179, 1) 65%, rgba(0, 0, 0, 1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

/*footer*/
footer {
    display: flex;
    justify-content: center;
}

footer p {
    margin: 1%;
}